#swiper-header .swiper-button-prev,
#swiper-header .swiper-button-next {
  cursor: pointer;
}
#swiper-header .swiper-button-prev {
  background-image: url('../static/arrow-left.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  position: relative;
}
#swiper-header .swiper-button-prev::after {
  content: 'PREV';
  color: white;
  position: absolute;
  top: 15px;
  left: 40px;
  font: 12px 'Lato';
  letter-spacing: 2px;
}

#swiper-header .swiper-button-next {
  background-image: url('../static/arrow-right.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  position: absolute;
}
#swiper-header .swiper-button-next::before {
  content: 'NEXT';
  color: white;
  position: relative;
  top: 0;
  left: -48px;
  font: 12px 'Lato';
  letter-spacing: 2px;
}
#swiper-header .swiper-button-next::after {
  display: none;
}

#swiper-header .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  margin: 0 20px 0 0;
  display: inline-block;
  border-radius: 100%;
  background: #fff;
  opacity: 1;
}
#swiper-header .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #ff4e00;
}

#swiper-industry .swiper-slide  > * {
  min-height: 100%;
  width: 100%;
  align-self: stretch;
}

#swiper-industry .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  margin: 0 10px 0 0;
  display: inline-block;
  border-radius: 100%;
  background: #aaa;
  opacity: 1;
}
#swiper-industry .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #ff4e00;
}
